@keyframes aparecerDesdeIzq{
    from{
        opacity:0;
        transform: translateX(360px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes aparecerDesdeDer{
    from{
        opacity:0;
        transform: translateX(-360px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes animarTituloGradiente {
    0% {
        filter: brightness(0.5);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        filter: brightness(0.75);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    35%{
        filter: brightness(0.85);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        filter: brightness(1);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        filter: brightness(0.85);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    85%{
        filter: brightness(0.75);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        filter: brightness(0.5);
        background: linear-gradient(90deg, #ff66c4, #b574f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}